-# <サイドバー>
.side-bar
  .side-bar__header
    .side-bar__header__content
      .side-bar__header__content__name
        ゆうし
      .side-bar__header__content__icons
        .side-bar__header__content__icons__pencil
          = link_to "#", class: "contents__btn" do
            = icon('fas fa-L', 'edit')
        .side-bar__header__content__icons__option
          = link_to "#", class: "contents__btn" do
            = icon('fas fa-L', 'cog')

    

  .side-bar__space
    .side-bar__space__groups
      .side-bar__space__groups__name
        = link_to "#", class: "group__select" do
          グループ名
      .side-bar__space__groups__message
        まだメッセージがありません
    .side-bar__space__groups
      .side-bar__space__groups__name
        = link_to "#", class: "group__select" do
          グループ名
      .side-bar__space__groups__message
        まだメッセージがありません
